extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        a(href=said_by_link) Said By
        div Hello #{user.name}
        // say quote form
        form(method='POST' action='/speak')
          div.form-group
            label(for='text') Quote:
            input#text.form-control(type='text', placeholder='say something' name='text')
          div.form-group
            label(for='heard') Heard by:
            input#heard.form-control(type='text', placeholder='who' name='heard')
          div.form-group
            input#token.form-control(type='hidden', name='token', value=token)
          button.btn.btn-primary(type='submit') Submit
